<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.talkserver.admin.mapper.BookTagAdminMapper">

    <select id="selectUsedTagIds" resultType="java.lang.Long">
        SELECT DISTINCT tag_id
        FROM book_tag_relation
        WHERE tag_id IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
