<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.booktalk.infrastructure.persistence.user.mapper.category.CategoryUserMapper">


    <select id="getCategoryNames" parameterType="java.util.List" resultType="java.util.Map">
        select id,name
        from category
        where id in
        <foreach collection="categoryIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
